@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap');

body {
    font-family: 'Nanum Gothic Coding', monospace;
    background-color: white;
    color: green;
    text-align: center;
}




